<footer class="footer p-10 bg-stone-100 text-base-content">
  <div>
    <p class="text-5xl">🔎</p>
    <p class="font-bold">UniSpot<br/>Spot Your Uni's Trends</p>
  </div> 
  <div>
    <span class="footer-title">UniSpot</span> 
    <a class="link link-hover">Home</a> 
    <a class="link link-hover">Trending</a> 
    <a class="link link-hover">Artists</a> 
  </div> 
  <div>
    <span class="footer-title">Account</span> 
    <a class="link link-hover">Login</a> 
    <a class="link link-hover">Register</a> 
    <a class="link link-hover">Profile</a> 
  </div> 
</footer>