<footer class="px-10 py-20 bg-stone-100 grid grid-cols-4">
    <p class="font-bold mb-auto text-4xl">UniSpot</p>
  </div> 
  <div class="flex flex-col">
    <span class="font-bold">UniSpot</span> 
    <a class="hover:underline cursor-pointer">Home</a> 
    <a class="hover:underline cursor-pointer">Trending</a> 
    <a class="hover:underline cursor-pointer">Artists</a> 
  </div> 
  <div class="flex flex-col">
    <span class="font-bold">Account</span> 
    <a class="hover:underline cursor-pointer">Login</a> 
    <a class="hover:underline cursor-pointer">Register</a> 
    <a class="hover:underline cursor-pointer" href="/pages/profile">Profile</a> 
  </div> 
</footer>