<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <title>UniSpot</title>
    <!-- TO-DO: Add the <link> tag to include bootstrap stylesheet -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.38.0/dist/full.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="p-4 flex flex-row">
    <button class="text-2xl font-semibold">UniSpot</button>
    <div class="ml-auto">
      <button class="p-3 rounded-xl  text-lg font-semibold">
        <a href="/profile">Profile</a>
      </button>
      <button class="p-3 rounded-xl  text-lg font-semibold">
        <a href="/logout">Log Out</a>
      </button>
    </div>
  </div>