<%- include ('../partials/headers_logged_in.ejs') %>
    <main>
      <div class="m-auto flex flex-col my-40">
        <p class="font-semibold text-2xl flex m-auto text-center mt-8 mb-8">We've counted that you like this song! Thank you.</p>
        <a class="font-semibold text-xl underline flex mx-auto text-center my-8 cursor-pointer" href="/home">Return to home page.</a>
      </div>
    </main>
    <%- include ('../partials/footer') %>