<%- include ('../partials/headers_logged_in.ejs') %>
    <main>
        <div class="container-content-center">
            <h1>
                <hr class="my-8 h-px bg-green-500 border-green-500 dark:bg-green-500">
            </h1>
            <div class="flex items-center justify-center t-screen">
            <hr class="my-8 h-px bg-green-0 border-green-0 dark:bg-green-0">
            <div class="max-w-sm rounded overflow-hidden shadow-lg">
                <div class="px-6 py-4">
                  <p class="text-gray-700 text-2xl">Username: <%= username %></p>
                  <p class="text-gray-700 text-2xl">Password: <%= password %></p>
                  <p class="text-gray-700 text-2xl">University: Boulder</p>
                </div>
                <div class="px-6 pt-4 pb-2">
                </div>
              </div>
              </div>
            <!---
            <div class="flex flex-col">
                <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                  <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="overflow-hidden">
                      <table class="min-w-full">
                        <thead class="border-b">
                          <tr>
                            <th scope="col" class="text-l font-medium text-gray-900 px-6 py-4 text-left">
                              Username:
                            </th>
                            <th scope="col" class="text-l font-medium text-gray-900 px-6 py-4 text-left">
                              Password:
                            </th>
                            <th scope="col" class="text-l font-medium text-gray-900 px-6 py-4 text-left">
                              University:
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="border-b">
                            <td class="text-l text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                              PLACEHOLDER
                            </td>
                            <td class="text-l text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                              PLACEHOLDER
                            </td>
                            <td class="text-l text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                              PLACEHOLDER
                            </td>
                          </tr>
                            </td>
                        </tbody>
                      </table>
        </div> -->
        <hr class="my-8 h-px bg-green-500 border-green-500 dark:bg-green-500">
        <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                  <table class="min-w-full">
                    <thead class="border-b">
                      <tr>
                        <th scope="col" class="text-l font-medium text-gray-900 px-6 py-4 text-left">
                          Song Name:
                        </th>
                        <th scope="col" class="text-l font-medium text-gray-900 px-6 py-4 text-left">
                          Artist:
                        </th>
                        <th scope="col" class="text-l font-medium text-gray-900 px-6 py-4 text-left">
                          Date Liked:
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="border-b">
                        <td class="text-l text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                          PLACEHOLDER
                        </td>
                        <td class="text-l text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                          PLACEHOLDER
                        </td>
                        <td class="text-l text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                          PLACEHOLDER
                        </td>
                      </tr>
                        </td>
                    </tbody>
                  </table>
        <div class="container">
            <h1>
            <!---- 
                <p class="text-2xl"> User Statistics For: PLACEHOLDER
                </p>
            </h1>
            <table class="table-fixed">
                    <tbody>
                        <tr>
                            <td>Total Transactions Made:</td>
                            <td> PLACEHOLDER</td>
                        </tr>
                        <hr class="my-8 h-px bg-green-0 border-green-0 dark:bg-green-0">

                        <tr>
                            <td>Total Songs Liked:</td>
                            <td>PLACEHOLDER</td>
                        </tr>
                    </tbody>
            </table>
        </div>-->
                </div>
              </div>
            </div>
          </div>
    </main>
    <%- include ('../partials/footer') %>