<footer class="px-10 py-14 bg-stone-100 grid grid-cols-3 mx-auto flex flex-col text-center">
  <p class="font-bold mb-auto text-4xl">UniSpot</p>
  </div> 
  <div class="flex flex-col">
    <span class="font-bold text-xl">UniSpot</span> 
    <a class="hover:underline cursor-pointer text-gray-700 font-semibold" href="/home">Home</a> 
    <!-- <a class="hover:underline cursor-pointer text-gray-700 font-semibold" href="/home">Trending</a> 
    <a class="hover:underline cursor-pointer text-gray-700 font-semibold" href="/home">Artists</a>  -->
  </div> 
  <div class="flex flex-col">
    <span class="font-bold text-xl">Account</span> 
    <a class="hover:underline cursor-pointer text-gray-700 font-semibold" href="/login">Login</a> 
    <a class="hover:underline cursor-pointer text-gray-700 font-semibold" href="/register">Register</a> 
    <a class="hover:underline cursor-pointer text-gray-700 font-semibold" href="/profile">Profile</a> 
  </div> 
</footer>