<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <title>UniSpot</title>
    <!-- TO-DO: Add the <link> tag to include bootstrap stylesheet -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              unigreen: '#67e4aa',
            }
          }
        }
      }
    </script>
    <!-- <link href="https://cdn.jsdelivr.net/npm/daisyui@2.38.0/dist/full.css" rel="stylesheet" type="text/css" /> -->
  </head>
  <body>
    <div class="p-4 flex flex-row bg-black text-white">
      <a href="/">
    <button class="text-3xl font-semibold p-2">
          UniSpot
        </button>
      </a>
    <div class="ml-auto">
      <a href="/register">
      <button class="p-3 rounded-xl bg-unigreen text-lg font-semibold">
          Sign Up
        </button>
      </a>
      <a href="/login">
      <button class="p-3 rounded-xl  text-lg font-semibold">
          Log In
        </button>
      </a>
    </div>
  </div>