<%- include ('../partials/headers_logged_in') %>


<main class="mb-48 flex flex-col">
  
  <div class="flex flex-col justify-center m-auto text-center ">
    <div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>