<%- include ('../partials/header') %>


<main class="mb-48 flex flex-col">
  <div class="p-4 flex flex-row">
    <button class="text-2xl font-semibold">UniSpot</button>
    <div class="ml-auto">
      <button class="p-3 rounded-xl bg-green-200 text-lg font-semibold">
        <a href="/login">Profile</a>
      </button>

    </div>
  </div>
  <div class="flex flex-col justify-center m-auto text-center ">

    <p class="text-7xl mt-40 mb-8 font-bold">UniSpot</p>
    <p class="text-4xl mb-8 ">Home Page</p>

  
</main>

<%- include ('../partials/footer') %>