<%- include ('../partials/headers_logged_in') %>


<main class="mb-48 flex flex-col">
  
  <div class="flex flex-col justify-center m-auto text-center ">
    <div class="py-4">
      <div class="grid grid-cols-3 gap-4 mx-8 mt-16 cursor-pointer">
        <div class="bg-stone-100 rounded-xl p-16 grid grid-rows-2">
        <a href="/search_song?q=Gunna">
          <p class="text-center text-5xl p-1 font-semibold mb-8 ">Search For Songs</p>
        </a>

          <!-- <button class="bg-white p-6 rounded-xl">Image</button> -->
        </div>
        
      <div class="bg-stone-100 rounded-xl p-16 grid grid-rows-2 ">
        <a href="/trends">
          <p class="text-center text-5xl p-1 font-semibold mb-8 ">View Trends</p>
        </a>
        <!-- <button class="bg-white p-6 rounded-xl">Image</button> -->
      </div>
      
      <div class="bg-stone-100 rounded-xl p-16 rounded-xl">
        <a href="/profile">
          <p class="text-center text-5xl p-1 font-semibold mb-8 ">Your Account</p>
        </a>

          <!-- <button class="bg-white p-6 rounded-xl">Image</button> -->
        </div>
    </div>
      </div>
  </div>
</main>

<%- include ('../partials/footer') %>