<%- include ('../partials/header') %>


<main class="mb-48 flex flex-col">
<div class="text-center" style="background-image: url('../../swirls.png');">
  <p class="text-9xl mt-40 mb-8 font-bold mx-8">UniSpot</p>
  <p class="text-4xl mb-8 mx-8">Spot Your Uni's Trends</p>
  <button class="mx-auto text-xl rounded-xl font-semibold p-3 bg-green-200 max-w-md mb-14">🔎 &nbsp;Learn More</button>
</div>
    

    <img class="h-96" style="transform:rotate(180deg);" src="https://github.githubassets.com/images/modules/site/home-campaign/git-branch-productivity.svg">


    <div class="py-4">
      <div class="grid grid-cols-2 gap-4 mx-8 mt-16">
        <div class="bg-stone-100 rounded-xl p-16 grid grid-rows-2">
          <p class="text-center text-5xl p-1 font-semibold mb-8">Search For Your University</p>
          <!-- <button class="bg-white p-6 rounded-xl">Image</button> -->
        </div>
        
      <div class="bg-stone-100 rounded-xl p-16 grid grid-rows-2 ">
        <p class="text-center text-5xl p-1 font-semibold mb-8">Find Trends</p>
        <!-- <button class="bg-white p-6 rounded-xl">Image</button> -->
      </div>
      
      </div>
      <div class="bg-stone-100 rounded-xl p-16 mt-8 mx-8 rounded-xl">
          <p class="text-center text-5xl p-1 font-semibold mb-8">Find The Best Playlists</p>
          <!-- <button class="bg-white p-6 rounded-xl">Image</button> -->
        </div>
    </div>

    <img class="h-96" src="https://github.githubassets.com/images/modules/site/home-campaign/git-branch-productivity.svg">


    <div class="bg-stone-100 rounded-xl p-16 grid grid-cols-2 mt-8 rounded-xl mx-8">
      <p class="text-center text-5xl p-1 font-semibold">Ready to start<br/> searching?</p>
      <button class="bg-green-200 p-3 rounded-xl font-semibold text-3xl max-w-sm ml-8">Sign Up</button>
    </div>
  </div>

  
</main>

<%- include ('../partials/footer') %>