<%- include ('../partials/header') %>


<main class="mb-48 flex flex-col" style="background-image: url('https://raw.githubusercontent.com/kebu1560/unispot/main/swirls.png');">
    <div class="mr-8 ml-36 mb-80">
      <p class="text-9xl mt-40 mb-24 font-bold">UniSpot</p>
      <p class="text-5xl mb-4">Spot Your Uni's Trends</p>
      <p class="text-2xl text-gray-500 italic max-w-xl">Don't know what to play at a university party? Create a student account with just your city and school to see your university’s favorite songs, artists, and albums.</p>
      <!-- <button class="mx-auto text-xl rounded-xl font-semibold p-3 bg-unigreen max-w-md mb-14">🔎 &nbsp;Learn More</button> -->
    </div>

    <div class="py-4 ">
      <div class="grid grid-cols-2 gap-4 mx-8 mt-16">
        <div class="bg-stone-200 rounded-lg p-16 grid grid-rows-2">
          <p class="text-center text-5xl p-1 font-semibold mb-8">Search For Your University</p>
          <button class="text-8xl">🎓</button>
        </div>
        
      <div class="bg-stone-200 rounded-lg p-16 grid grid-rows-2 ">
        <p class="text-center text-5xl p-1 font-semibold mb-8">Find Trends</p>
        <button class="text-8xl">🔥</button>
      </div>
      
      </div>
      <div class="bg-stone-200 rounded-lg py-32 mt-8 mx-8 rounded-lg">
          <p class="text-center text-5xl p-1 font-semibold mb-8">Find The Best Playlists</p>
          <button class="text-8xl mx-auto flex">🥳</button>
        </div>
    </div>

    <!-- <img class="h-96" src="https://github.githubassets.com/images/modules/site/home-campaign/git-branch-productivity.svg"> -->


    <div class="bg-white mx-auto grid grid-cols-2 gap-8 mt-32">
      <p class="text-center text-6xl p-1 font-semibold">Ready to start<br/> searching?</p>
      <button class="bg-green-200 p-3 rounded-xl font-semibold text-5xl max-w-sm ml-8">
        <a href="/register">Sign Up</a>
      </button>
    </div>
  </div>

  
</main>

<%- include ('../partials/footer') %>