<%- include ('../partials/header') %>

<main>
  <div class="my-24 m-auto flex flex-col">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <p class="font-semibold text-4xl p-4 mx-auto mb-4">Register to UniSpot</p>
    <form action="/register" method="post" class="bg-stone-100 p-8 rounded-xl mx-auto my-8 max-w-2xl">
      <div class="form-group" class="mx-auto flex">
        <label for="username" class="font-black font-normal">Username</label>
        <br/>
        <input type="text" class="p-1 mt-2 rounded " id="username" name="username" >
      </div>
      <div class="form-group my-4">
        <label for="password" class="font-black font-normal">Password</label>
        <br/>
        <input type="password" class="p-1 mt-2 rounded" id="password" name="password">
      </div>
      <button type="submit" class="p-3 rounded bg-green-200 flex m-auto">Register</button>
    </form>
    <a href="/login"  class="underline mt-4 text-center mx-auto">Already have an account? Log in here.</a>
  </div>
</main>

<%- include ('../partials/footer') %>